@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f2f0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.first-line {
  background-color: #000000;
  width: 350px;
  height: 1px;
  margin-top: 45px;
  z-index: 1;
  margin-left: 310px;
}

.list-items {
  list-style-type: none;
  display: inline-block;
  margin-top: 33px;
  margin-right: 50px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #848484;
}

span {
  color: #000000;
}

.logo {
  z-index: 1;
  height: 45px;
  margin-top: 25px;
}

.two {
  display: flex;
  justify-content: center;
}

.main {
  height: 100vh;
  width: 35vw;
  position: absolute;
  top: 0;
  left: 0;
}

.cera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  position: relative;
}

.first {
  font-size: 120px;
  color: #000000;
  -webkit-text-stroke: #000000 1px;
  -webkit-text-fill-color: transparent;
  font-family: Merriweather, sans-serif;
  font-weight: 900;
}

.second {
  font-size: 120px;
  font-family: Merriweather, sans-serif;
  color: #333333;
  font-weight: 900;
  position: absolute;
  left: 135px;
  top: 115px;
}

.para-1 {
  font-size: 35px;
  color: #828282;
  position: absolute;
  left: 525px;
  top: 160px;
}

.dropdown {
  display: none;
}

.icons {
  position: absolute;
  right: 125px;
  top: 70px;
}

.icon {
  list-style-type: none;
}

.icon-item img {
  height: 20px;
  margin-top: 40px;
}

.btn {
  position: absolute;
  right: 127px;
  top: 359px;
}

.first-btn {
  border: none;
  background-color: #333333;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  padding: 15px 50px;
  color: #ffffff;
  font-weight: 500;
}

.rottom {
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.last-img img {
  width: 100px;
  height: 100px;
  margin-bottom: 70px;
}

.last-img {
  margin-top: 20px;
}

.sec-img {
  background-image: url(./images/pexels-cottonbro-7974875.jpg);
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 200px;
  margin-top: 20px;
}

.sign {
  margin-left: 100px;
}

.heading-3 {
  font-size: 100px;
  font-family: Palanquin Dark, sans-serif;
  margin-bottom: -80px;
}

.para-3 {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.left-rottom {
  display: flex;
}

.line {
  height: 330px;
  width: 2px;
  background-color: #c7c5c4;
}

.circle {
  background-color: #828282;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-bottom: 50px;
  margin-left: -6px;
}

.lost {
  margin-left: 30px;
  margin-top: -5px;
}

.last-items {
  list-style-type: none;
  font-size: 18px;
  font-family: poppins, sans-serif;
  margin-bottom: 38px;
  color: #8c8c8c;
}

.lit {
  color: #3a3a3a;
  font-weight: 500;
}

.big {
  width: 19px;
  height: 19px;
  border-radius: 20px;
  margin-left: -8px;
  background-color: #333333;
}

button,
li {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  nav {
    max-width: 95%;
  }
  .main {
    width: 31vw;
  }

  .first-line {
    background-color: #000000;
    width: 280px;
    margin-left: 150px;
  }

  .list-items {
    margin-right: 20px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #848484;
  }

  .cera {
    margin-left: -100px;
  }

  .first {
    font-size: 80px;
  }

  .second {
    font-size: 80px;
    margin-left: -50px;
    margin-top: -30px;
  }

  .para-1 {
    font-size: 30px;
    left: 335px;
    top: 100px;
  }

  .icons {
    right: 50px;
    top: 70px;
  }
  .icon-item img {
    height: 18px;
    margin-top: 20px;
  }

  .btn {
    right: 65px;
    top: 280px;
  }

  .first-btn {
    font-size: 17px;
    padding: 15px 50px;
  }

  .left-rottom {
    margin-left: -70px;
  }

  .sec-img {
    width: 300px;
    height: 170px;
  }

  .sign {
    margin-left: 30px;
  }

  .last-img {
    margin-left: -50px;
  }

  .rottom {
    justify-content: start;
  }
}

@media screen and (max-width: 950px) {
  .first-line,
  .list,
  .icons {
    display: none;
  }
  .main {
    display: none;
  }

  .left-1 {
    background-image: url(./images/pexels-rfstudio-3819572.jpg);
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: 0;
    height: 40vh;
    background-size: cover;
    opacity: 0.4;
  }

  .dropdown {
    display: flex;
    position: absolute;
    top: 30px;
    right: 25px;
  }

  select {
    padding: 5px 10px;
    font-size: 15px;
    font-family: poppins;
    border: 1px solid #292929;
    border-radius: 3px;
    background-color: #f5f2f0;
  }

  option {
    background-color: #f5f2f0;
  }

  .para-1 {
    font-size: 35px;
    color: #444444;
  }

  .cera {
    position: absolute;
    left: 150px;
    top: 80px;
  }

  .first {
    font-size: 70px;
  }

  .second {
    font-size: 70px;
  }

  .btn {
    right: 45px;
    top: 199px;
  }

  .first-btn {
    padding: 15px 20px;
    font-size: 17px;
  }

  .rottom {
    left: 100px;
    width: 100%;
  }

  .sign {
    margin-left: 100px;
    margin-right: 85px;
  }
}

@media screen and (max-width: 800px) {
  .last-img {
    display: none;
  }

  .btn {
    right: 25px;
    top: 120px;
  }

  .first-btn {
    padding: 10px 15px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .first {
    font-size: 60px;
  }

  .second {
    font-size: 60px;
    margin-left: -70px;
    margin-top: -50px;
  }

  .para-1 {
    font-size: 22px;
    left: 255px;
    top: 100px;
  }

  .btn {
    top: 100px;
  }

  .first-btn {
    padding: 10px;
    font-size: 12px;
  }

  .sec-img {
    width: 300px;
    height: 170px;
  }

  .sign {
    margin-left: 20px;
    margin-right: 0px;
  }

  .heading-3 {
    font-size: 80px;
    font-family: Palanquin Dark, sans-serif;
    margin-bottom: -50px;
  }

  .para-3 {
    width: 70%;
    font-size: 15px;
  }

  .last-items {
    font-size: 15px;
  }

  .left-rottom {
    margin-right: 20px;
  }

  .lost {
    margin-top: 7px;
  }
}

@media screen and (max-width: 450px) {
  .sec-img {
    width: 220px;
    height: 170px;
  }

  .left-rottom {
    margin-left: -85px;
    margin-right: 0px;
  }

  .cera {
    margin-left: -130px;
  }

  .left-1 {
    opacity: 0.2;
  }

  .btn {
    top: 270px;
  }
}
